body {
    background-image: url("../img/factory.jpg");
    background-color:rgb(66, 65, 65);
    height: 100%;
    background-position: center ;
    background-repeat: no-repeat;
    background-size:220ch;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(9, 255, 62);

}

#header {
    font-size: medium;
}

.results {
    margin: 60px;
    visibility: hidden;
}
